name: discord-activity-starter

on:
  push:
    branches: [main]
    paths:
      - 'discord-activity-starter/packages/**'
  pull_request:
    branches: [main]
    paths:
      - 'discord-activity-starter/packages/**'

jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.15.9
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install
      - run: npm run build
        working-directory: discord-activity-starter/packages/server
      - run: npm run build
        working-directory: discord-activity-starter/packages/client
