name: sdk-playground

on:
  push:
    branches: [main]
    paths:
      - 'sdk-playground/packages/**'
  pull_request:
    branches: [main]
    paths:
      - 'sdk-playground/packages/**'

jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.0.6
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
      - run: pnpm install
      - run: npm run build
        working-directory: sdk-playground/packages/shared
      - run: npm run build
        working-directory: sdk-playground/packages/server
      - run: npm run build
        working-directory: sdk-playground/packages/client
